/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

html {
  font-size: 13px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
}
body {
  line-height: 1.5;
  color: #585858;
}

$orange: #f6921e;
$width: 720px;
.center {
  width: $width;
  margin: 0 auto;
}

header {
  height: 76px;
  padding: 1rem 0;
  .logo-taglit, .ie {
    float: left;
    img {
      width: 108px;
    }
  }
  .ie {
    a {
      margin-bottom: 1rem;
      display: block;
      img {
        width: 180px;
      }
    }
  }
  .twitter img {
    width: 168px;
  }
  .so {
    float: right;
    a {
      display: inline-block;
      height: 22px;
      background: 50% 0 no-repeat;
      width: 20px;
      text-indent: -1900px;
      overflow: hidden;
      margin-left: .5rem;
    }
    .fb {
      background-image: url(fb.svg);
    }
    .yo {
      background-image: url(youtube.svg);
      width:50px;
    }
    .tw {
      background-image: url(tw.svg);
    }
    .in {
      background-image: url(in.svg);
    }
  }

}
figure {
  background:#6eb4e2;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 1rem;
  position: relative;
  text-align: center;
  img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: $width + 40px;
  }
  figcaption {
    text-align: center;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    background: url(blue-wave.png) 0 100% repeat-x;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 11;
  }
}
figure + ul {
  text-align: center;
  font-size: 0;
  margin-top: 0px;
  li {
    position: relative;
    width: $width / 4;
    height: $width / 4;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    span {
      position: absolute;
      padding:2rem 1rem;
      top: 50%;
      left:50%;
      color: #585858;
      transform: translateY(-50%) translateX(-50%);
      background: rgba(255,255,255,.8);
      font-size: 1.5rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity .5s;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
$text-blue: #6fb4e3;
article {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 40rem;
  span {
    font-weight: 700;
    color: $text-blue;
    display: block;
  }
}
.form {
  text-align: center;
  background-color: #8bc3e8;
  padding: 10px 8px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 3px;
  line-height: 1;
  
  h2 {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
    span {
      display: block;
      text-transform: uppercase;
    }
  }
  p {
    font-size: .95rem;
    color: #fff;
  }
  form {
    padding: 15px 20px 10px;
    > * {
      display: block;
    }
    input {
      font-size: .9rem;
      text-indent: 1.5em;
      border: 1px solid #ccc;
      background: #f1f1f1;
      height: 29px;
      line-height: 29px;
      margin-bottom: .75rem;
      width: 100%;
      color: #555;
    }
    button {
      font-size: 1.1rem;
      font-weight: 400;
      height: 45px;
      border-radius: 30px;
      border: none;
      background: #f6921e;
      color: #fff;
      margin: 10px auto 20px;
      padding: 0 2em;
    }
  }
}
.siximages {
  text-align: center;
  padding: 20px 0 50px 0;
  position: relative;
  margin-top: 30px;
  background:  #fff7fe;
  > img {
    width: 100%;
    max-width: 478px;
    margin-bottom: 25px;
  }
  &:after,
  &:before {
    content: '';
    display: block;
    height: 48px;
    width: 100%;
    background: url(steps-separator.png) 50% 0 repeat-x;
    background-size: auto 24px;
    position: absolute;
  }
  &:before {
    top: -30px;
  }
  &:after {
    background: url(orange-wave.png) 50% 0 repeat-x;
    bottom: 0px;
    background-size: auto 14px;
  }
  a {
    background: #fff;
    text-align: center;
    box-shadow: 0 0 3px 0 #000;
    padding-top: 25px; 
    display: inline-block;
    padding-bottom: 20px;
    img {
      display: inline-block;
    }
    span {
      display: block;
      margin-top: 10px;
      font-size: 1.3rem;
    }
  }
}
footer {
  text-align: center;
  padding: 0px 0;
  img {
    width: 100%;
    max-width: 568px;
    margin: 0 0 20px 0;
  }
  p {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
  }
  h3 {
    font-weight: 700;
    color: $text-blue;
  }
}
.banner {
  display: none;
}
@media screen and (min-width: 43em) {
  header {
    width: $width;
    margin: 0 auto;
    .ie {
      margin-left: 5rem;
    }
  }
  .banner {
    display: block;
    background: url(banner.png) 50% 0 no-repeat #005f9f;
    background-size: auto 100%;
    padding: 17px;
    height: 155px;
    box-sizing: border-box;
    color: #fff;
    width: $width;
    margin: 0 auto;
    p {
      white-space: pre;
      font-size: 1.2rem;
      line-height: 1.8rem;
      float: left;
    }
    a {
      color: #fff;
      text-decoration: none;
      float: right;
      position: relative;
      font-size: 1.1rem;
      background: $orange;
      padding: 10px 0;
      width: 165px;
      line-height: 1;
      border-radius: 50px;
      text-align: center;
      margin-top: 43px;
    
      &:before {
        width: 145px;
        line-height: 1.2;
        content: 'Want us to save you a seat on the bus?';
        font-weight: 300;
        display: block;
        position: absolute;
        margin: -50px 0px 0px 0px;
      }
      &:after {
        top: -40px;
        right: -22px;
        content: '';
        background: url("banner-arrow.svg") 0 0 no-repeat;
        background-size: auto 35px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
    }
  }
  .main {
    padding-top: 22px;
    padding-bottom: 40px;
    text-align: center;
    direction: rtl;
    > * {
      vertical-align: top;
      direction: ltr;
    }
  }
  .form {
    width: 267px;
    form {
      button {
        margin-bottom: 0;
      }
    }
  }
  iframe {
    width: 428px;
    margin-right: 20px;
  }
  .form, iframe {
    height: 290px;
    display: inline-block;
  }
  .siximages {
    nav {
      width: $width;
      margin: 0 auto;
    }
    a {
      color: #58595b;
      text-decoration: none;
      width: 222px;
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 36px;
    }
    a:nth-of-type(2),
    a:nth-of-type(5) {
      margin-left:  22px;
      margin-right: 22px;
    }
    img {
      width: 100%;
    }
    span {
      margin: 0 -5px;
    }
  }
}
@media screen and (max-width: 43em) {
  html {
    font-size: 18px;
  }
  body {
    line-height: 1;
  }
  header {
    height: 74px;
    padding: 0 20px;
     
    .logo-taglit {
      img {
        width: 75px;
      }
    }
    .ie {
      float: right;
      width: 92px;
      a {
        height: 25px;
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
    .so {
      margin-right: -92px;
      margin-top: 43px;
      a {
        height: 10px;
        max-width: 20px;
        margin-left: 0;
        background-size: auto 100%;
      }
    }
  }
  figure {
    font-size: 1rem;
    padding: 7px;
    img {
      width: 90%;
    }
    figcaption {
      max-width:400px;
      width: 80%;
      margin: 0 auto;
    }
    &:after {
      height: 20px;
      bottom: -17px;
      background-size: auto 100%;
    }
  }
  figure + ul {
    margin: 20px 5px;
    li {
      height: calc(25vh - 5px);
      margin-bottom: 5px;
      max-height: 80vw;
      overflow: hidden;
      transition: height .5s;
      &:hover {
        height: 300px;
        img {
          top: 0;
          transform: none;
        }
      }
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      span {
        opacity: 1;
        padding: .5rem 1rem;
        min-width: 220px;
        width: 60%;
      }
    }
  }
  article {
    font-size: .9rem;
  }
  .main {
    margin: 0 11px;
  }
  iframe {
    width: 100%;
    margin: 50px 0;
  }
  .siximages {
    &:after,
    &:before {
      height: 20px;
      background-size: auto 100%;
    }
    &:after {
      height: 10px;
      bottom: 0;
    }
    img {
      width: 80%;
    }
    nav {
      margin: 20px auto;
      a {
        padding: 0 0 10px 0;
        margin-bottom: 15px;
        img {
          min-width: 255px;
          height: auto;
          max-width: 60vw;
          margin: 22px 22px 0px;
        }
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .form {
    h2 {
      font-size: 1.3rem;
    }
  }
  footer {
    padding: 1rem;
    p, h3 {
      font-size: .9rem;
      line-height: 1.5;
      width: auto;
      margin: 0 auto;
      padding: 1rem;
    }
  }
}
.thankyou {
  figure img {
    width: initial;
  }
  figure + img {
    width: 100%;
  }
}
